<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Nuevo Usuario </title>
    </head>
    <body>
        
        <form action="/nuevo/usuario" method="POST">
            <label for="NombreCompleto">
                Nombre completo del director:s
            </label>
            <input id="NombreCompleto" name="NombreCompleto" type="text">
            <button>
                Agregar
            </button>
        </form>
    </body>
</html>