<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mi primera vista </title>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <h1> @ViewBag.Titulo </h1>
        <p> @ViewBag.Subtitulo </p>
    
         <h2>Registro Usuario</h2>
        <form action="/nuevo/usuario" method="POST">
            <label>Nombre</label>
            <input type="text" id="nombre" name="nombre"> <br> <br>
            <label>Ubicacion Dojo</label>
              <select id="dojo" name="dojo">
                 <option value="santiago">Santiago</option>
                 <option value="valparaiso">Valparaiso</option>
             </select> <br> <br>
               <label>Lenguaje Favorito</label>
              <select id="lenguaje" name="lenguaje">
                 <option value="C#">C#</option>
                 <option value="C++">C++</option>
             </select> <br><br>
             <label>Comentario</label> <br>
             <textarea id="comentario" name="comentario" rows="7" cols="37"></textarea>
             <br><br>
            <button>
                Agregar
            </button>
        </form>
    </body>
</html>