<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Usuarios</title>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <h1>Lista de Usuarios</h1>
        <ul>
            @foreach(string usuario in ViewBag.ListaUsuarios) {
                <li>@usuario</li>
            }
        </ul>
    </body>
</html>
